.navbar-nav .nav-link {
    margin-left: 100px; /* Adjust the margin as needed */
    .navbar-nav {
      flex-direction: row;
    }
    
    .d-flex.ms-auto {
      margin-left: auto !important;
    }
    
    .form-control.me-2 {
      margin-right: 0.5rem;
    }
    
  }
  