body, html, .home-page {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.custom-image {
  width: 85%;
  height: 85vh;
  object-fit: cover; /* Resmin ekranı tamamen kaplamasını sağlar */
  display: block;
  margin: 0;
  padding: 0;
}
